@import url("https://themes.googleusercontent.com/fonts/css?kit=zqpv9qCntOqpqyzFcziM2jFXDelBu2lgpLV8Tx-HAlRxnVAV27mQsrYjLBwV4jFpEECZ878i5X1W3yBSX6w9CQ");
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c20 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Bookman Old Style";
  font-style: italic;
}
.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.c10 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8.5pt;
  font-family: "Inter";
  font-style: normal;
}
.c19 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Elite";
  font-style: italic;
}
.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.c9 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Bookman Old Style";
  font-style: normal;
}
.c8 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Elite";
  font-style: normal;
}
.c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c11 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Bookman Old Style";
  font-style: italic;
}
.c14 {
  margin-left: -17.9pt;
  padding-top: 0pt;
  text-indent: 17.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
}
.c18 {
  padding-top: 0pt;
  text-indent: 18pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 18pt;
}
.c13 {
  padding-top: 0pt;
  padding-bottom: 2pt;
  line-height: 1;
  text-align: justify;
}
.c12 {
  padding-top: 0pt;
  padding-bottom: 30pt;
  line-height: 2;
  text-align: center;
}
.c17 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1;
  text-align: right;
}
.c2 {
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Bookman Old Style";
  font-weight: 700;
}
.c0 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1;
  text-align: justify;
}
.c5 {
  orphans: 2;
  widows: 2;
  height: 10pt;
}
.c16 {
  background-color: #ffffff;
  padding: 62.4pt 42.5pt 53.9pt 85pt;
}
.c15 {
  width: 33%;
  height: 1px;
}
.c7 {
  orphans: 2;
  widows: 2;
}
.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 10pt;
  font-family: "Times New Roman";
}
p {
  margin: 0;
  color: #000000;
  font-size: 10pt;
  font-family: "Times New Roman";
}
h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Times New Roman";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
