@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

span,
p,
h1,
h2,
h3,
li {
  font-family: "Baskervville", serif !important;
}

.dropdown {
  position: fixed;
  left: 50pt;
  top: 50pt;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

content {
  max-width: 1440px;
  padding: 0px 60px;
  box-sizing: border-box;
  margin-top: 52px;
}

#pasajes-main {
  padding-bottom: 100px;
}

h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  padding-bottom: 6pt;
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin: 50px 0px;
  font-size: 28pt !important;
}

.seleccionado {
  background-color: palegreen;
}

.seleccionado-b {
  background-color: paleturquoise;
}

.seleccionado::before,
.seleccionado-b::before {
  content: attr(name);
  position: absolute;
  left: 15%;
  font-size: 1.2rem;
}

li {
  font-size: 14px;
}

.button-container button {
  position: fixed;
  right: 3px;
  top: 78px;
}

@media screen and (max-width: 2000px) {
  .seleccionado::before,
  .seleccionado-b::before {
    left: 6%;
  }
}

@media screen and (max-width: 1600px) {
  .seleccionado::before,
  .seleccionado-b::before {
    left: 50px;
  }
}

@media screen and (max-width: 1511px) {
  .seleccionado::before,
  .seleccionado-b::before {
    left: 20px;
  }
}

#undefined {
  display: none;
}
